<!-- Fixed navbar -->
<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><b>CuantoTeCuesta</b></a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Ya eres miembro?</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>

<div id="headerwrap">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <h1>Recibe dinero por darnos el precio de tu mandado!</h1>
        <%= form_tag("#{invitaciones_create_path}", method: "post", role: "form", class: "form-inline") do %>
          <div class="form-group">
            <input name="email" type="email" class="form-control" id="exampleInputEmail1" placeholder="Entra tu email">
          </div>
          <button type="submit" class="btn btn-warning btn-lg">Invitame!</button>
        <% end %>
      </div><!-- /col-lg-6 -->
      <div class="col-lg-6">
        <img class="img-responsive" src="assets/ipad-hand.png" alt="">
      </div><!-- /col-lg-6 -->

    </div><!-- /row -->
  </div><!-- /container -->
</div><!-- /headerwrap -->


<div class="container">
  <div class="row mt centered">
    <div class="col-lg-6 col-lg-offset-3">
      <h1>Haz tus compras<br/>y recibe dinero por darnos los precios</h1>
      <h3>Es un hecho de que vas a ir al mandado una vez por semana, sigue estos sencillos pasos y recibe dinero por medio de tarjetas de regalo por darnos la informacion que te pedimos.</h3>
    </div>
  </div><!-- /row -->

  <div class="row mt centered">
    <div class="col-lg-4">
      <img src="assets/ser01.png" width="180" alt="">
      <h4>1 - Entra a nuestra pagina</h4>
      <p>Ahi encontraras los precios que necesitamos que ingreses a nuestra pagina, indicandote la tienda y el articulo, y en algunos casos te solicitaremos el ticket de compra.</p>
    </div><!--/col-lg-4 -->

    <div class="col-lg-4">
      <img src="assets/ser02.png" width="180" alt="">
      <h4>2 - Haz tu mandado</h4>
      <p>Ve al mandado, busca el producto que te solicitamos en la tienda que te pedimos e ingresa el precio, puedes hacerlo directamente en nuestra pagina o guardar el ticket y hacerlo despues.</p>

    </div><!--/col-lg-4 -->

    <div class="col-lg-4">
      <img src="assets/ser03.png" width="180" alt="">
      <h4>3 - Recibe Dinero!</h4>
      <p>Cada precio que te solicitamos tiene un valor en dinero para ti, y cuando llegues a cierta cantidad acumulada, te enviaremos tarjetas de regalo de los establecimientos de tu preferencia.</p>

    </div><!--/col-lg-4 -->
  </div><!-- /row -->
</div><!-- /container -->

<div class="container">
  <hr>
  <div class="row centered">
    <div class="col-lg-6 col-lg-offset-3">
      <%= form_tag("#{invitaciones_create_path}", method: "post", role: "form", class: "form-inline") do %>
        <div class="form-group">
          <input name="email" type="email" class="form-control" id="exampleInputEmail1" placeholder="Entra tu email">
        </div>
        <button type="submit" class="btn btn-warning btn-lg">Invitame!</button>
      <% end %>
    </div>
    <div class="col-lg-3"></div>
  </div><!-- /row -->
  <hr>
</div><!-- /container -->

<div class="container">
  <div class="row mt centered">
    <div class="col-lg-6 col-lg-offset-3">
      <h1>CuantoTeCuesta es para todos</h1>
      <h3>Eres ama de casa ? profesional independiente ? adolescente que necesita un dinerito extra ?<br/>Todos pueden ganar dinero.</h3>
    </div>
  </div><!-- /row -->
</div><! --/container -->

<div class="container">
  <hr>
  <div class="row centered">
    <div class="col-lg-6 col-lg-offset-3">
      <%= form_tag("#{invitaciones_create_path}", method: "post", role: "form", class: "form-inline") do %>
        <div class="form-group">
          <input name="email" type="email" class="form-control" id="exampleInputEmail1" placeholder="Entra tu email">
        </div>
        <button type="submit" class="btn btn-warning btn-lg">Invitame!</button>
      <% end %>
    </div>
    <div class="col-lg-3"></div>
  </div><!-- /row -->
  <hr>
</div><!-- /container -->

<div class="container">
  <div class="row mt centered">
    <div class="col-lg-6 col-lg-offset-3">
      <h1>Nuestro maravilloso <br/>Equipo</h1>
      <h3>Estos son algunos testimonios de nuestro equipo, que como tu, buscaron ganar dinero dandonos el precio de su mandado.</h3>
    </div>
  </div><!-- /row -->

  <div class="row mt centered">
    <div class="col-lg-4">
      <img class="img-circle" src="assets/pic1.jpg" width="140" alt="">
      <h4>Pedro - Veracruz, Ver.</h4>
      <p>Al principio no era mucho, pero poco a poco fui acumulando y acabo de recibir mi primer tarjeta de regalo de 200 pesos.</p>
      </div><!--/col-lg-4 -->

    <div class="col-lg-4">
      <img class="img-circle" src="assets/pic2.jpg" width="140" alt="">
      <h4>Celso - Monterrey, N.L.</h4>
      <p>Este sitio es una gran idea, y van a llegar muy lejos, gracias por mi ultima tarjeta de regalo!</p>
    </div><!--/col-lg-4 -->

    <div class="col-lg-4">
      <img class="img-circle" src="assets/pic3.jpg" width="140" alt="">
      <h4>Angelica - Acapulco, Gro.</h4>
      <p>Antes de ir al mandado, abro la aplicacion y veo si hay algo que pueda incluir, no hay nada mejor que recibir dinero por comprar tu mandado.</p>
    </div><!--/col-lg-4 -->
  </div><!-- /row -->
</div><!-- /container -->

<div class="container">
  <hr>
  <div class="row centered">
    <div class="col-lg-6 col-lg-offset-3">
      <%= form_tag("#{invitaciones_create_path}", method: "post", role: "form", class: "form-inline") do %>
        <div class="form-group">
          <input name="email" type="email" class="form-control" id="exampleInputEmail1" placeholder="Entra tu email">
        </div>
        <button type="submit" class="btn btn-warning btn-lg">Invitame!</button>
      <% end %>
    </div>
    <div class="col-lg-3"></div>
  </div><!-- /row -->
</div><!-- /container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="assets/bootstrap.min.js"></script>