<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>
<my-elias></my-elias>
<paper-button raised>
  <core-icon icon="favorite"></core-icon>
  This is my first paper button
</paper-button>
