%h1
  Container Show
%p
  This is the container number #{params[:id]}
  and the name is #{@container.name}
  a very interesting name
<paper-button>flat button</paper-button>
<paper-button raised>raised button</paper-button>
<paper-button noink>No ripple effect</paper-button>
